/* Centraliza o texto */
.App {
  text-align: center;
  background-color: #f0f8ff; /* Alterado o fundo para um tom mais claro (Aliceblue) */
  padding: 20px;
}

/* Estilo do logo */
.App-logo {
  height: 30vmin; /* Diminuído o tamanho do logo */
  pointer-events: none;
  border-radius: 50%; /* Adicionado bordas arredondadas ao logo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionada sombra ao logo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear; /* Alterada a velocidade da rotação para 10s */
  }
}

/* Estilo do cabeçalho */
.App-header {
  background-color: #1e90ff; /* Alterado para um azul mais claro (DodgerBlue) */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin); /* Aumentado o tamanho da fonte */
  color: #fffaf0; /* Alterado a cor do texto para um tom mais suave (FloralWhite) */
}

/* Estilo dos links */
.App-link {
  color: #ff6347; /* Alterado para Tomate (Tomato) */
  text-decoration: none; /* Removido o sublinhado dos links */
  font-weight: bold; /* Deixado o link em negrito */
}

.App-link:hover {
  color: #ff4500; /* Alterado para um tom mais escuro (OrangeRed) quando o link é hover */
}

/* Animação de rotação do logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
